html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: white;
    
}

#warapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.activity {
    background: white;
    position: absolute;
    top: 43px;
    left: 0px;
    right: 0px;
    bottom: 50px;
    -webkit-transform: translate3d(100%, 0, 0);
    overflow-y: scroll;
    z-index: auto;
    background: #FCF4EA;
}

@-webkit-keyframes activityShowAnimation {
    0% {
        -webkit-transform: translate3d(100%,0,0);
        z-index: 1000;
    }
    
    100% {
        -webkit-transform: translate3d(0,0,0);
        z-index: 1000;
    }
}

@-webkit-keyframes activityHideAnimation {
    0% {
        -webkit-transform: translate3d(0,0,0);
    }
    
    100% {
        -webkit-transform: translate3d(0,0,0);
    }
}

.activity.hidden {
    -webkit-animation: activityHideAnimation 0.3s;
    -webkit-transform: translate3d(100%, 0, 0);
}

.activity.active {
    -webkit-animation: activityShowAnimation 0.3s;
    -webkit-transform: translate3d(0,0,0);
    z-index: 1000;
}

#titleBar {
    background: rgb(173,0,2); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(173,0,2,1) 0%, rgba(255,40,44,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(173,0,2,1)), color-stop(100%,rgba(255,40,44,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(173,0,2,1) 0%,rgba(255,40,44,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(173,0,2,1) 0%,rgba(255,40,44,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(173,0,2,1) 0%,rgba(255,40,44,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(173,0,2,1) 0%,rgba(255,40,44,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad0002', endColorstr='#ff282c',GradientType=0 ); /* IE6-9 */

    height: 43px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#titleBar #logo {
    background-image: url(resource/logo.png);
    background-position: center right;
    background-repeat: no-repeat;
    height: 43px;
    width: 111px;
    float: left;
    padding-left: 10px;
    
    border-top-right-radius: 5px;
}

#toolBar {
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#toolBar div.button {
    float: left;
    height: 100%;
    width: 33.33%;
    
    position: relative;
    
    background: rgb(95,103,118); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(95,103,118,1) 14%, rgba(130,137,149,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(14%,rgba(95,103,118,1)), color-stop(100%,rgba(130,137,149,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(95,103,118,1) 14%,rgba(130,137,149,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(95,103,118,1) 14%,rgba(130,137,149,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(95,103,118,1) 14%,rgba(130,137,149,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(95,103,118,1) 14%,rgba(130,137,149,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f6776', endColorstr='#828995',GradientType=0 ); /* IE6-9 */
    z-index: 9999;
}

#toolBar div.button.main {
    padding-top: 10px;
    margin-top: -10px;
}

#toolBar div.button.main, 
#toolBar div.button.main > div {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#toolBar div.button > div {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-right: 1px solid black;
    border-left: 1px solid white;
}

#toolBar div.button > div.active {
    background-color: rgb(95,103,118);
}



#toolBar .stats {
    background: url(resource/stats.png) no-repeat center;
}

#toolBar .camera {
    background: url(resource/camera.png) no-repeat center;
}

#toolBar .people {
    background: url(resource/people.png) no-repeat center;
}


.loading {
    display: none;
    position: absolute;
    background: rgba(0,0,0,0.8);
    left: 0;
    top: 0;
    right: 0;
    vertical-align: middle;
    text-align: center;
    z-index: 9999;
    color: white;
    font-weight: bold;
    padding: 5px;
}

.image-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.image-list li {
    float: left;
    width: 100%;
    border-bottom: 1px solid rgb(227, 6, 9);
}

.image-list li .image {
    display: block;
    float:left;
    width: 50px;
    height: 50px;
    margin: 5px;
    margin-right: 20px;
    background: no-repeat;
    background-size: cover;
}

.image-list li.active {
    background: rgb(96, 174, 200);
}
.image-list .progress{
    display: block;
    margin: 10px 10px;
    height: 5px;
    background: gray;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.image-list .progress .percentage-preview {
    top: 0;
    left: 0;
    bottom:0;
    position: absolute;
    background: blue;
    
    border-radius: 10px
}

.take-picture {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    text-align: center;
}

.take-picture #takeAPicture {
   width: 60%;
   border: 1px solid silver;
   border-radius: 10px;
   padding: 10px;
   margin: 0 auto;
}

.take-picture #takeAPicture {
    background: rgb(242,246,248); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,246,248,1)), color-stop(50%,rgba(216,225,231,1)), color-stop(51%,rgba(181,198,208,1)), color-stop(100%,rgba(224,239,249,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */

}

.take-picture #takeAPicture.active {
    background: rgb(224,239,249); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(224,239,249,1) 0%, rgba(181,198,208,1) 50%, rgba(216,225,231,1) 51%, rgba(242,246,248,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,239,249,1)), color-stop(50%,rgba(181,198,208,1)), color-stop(51%,rgba(216,225,231,1)), color-stop(100%,rgba(242,246,248,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(224,239,249,1) 0%,rgba(181,198,208,1) 50%,rgba(216,225,231,1) 51%,rgba(242,246,248,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(224,239,249,1) 0%,rgba(181,198,208,1) 50%,rgba(216,225,231,1) 51%,rgba(242,246,248,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(224,239,249,1) 0%,rgba(181,198,208,1) 50%,rgba(216,225,231,1) 51%,rgba(242,246,248,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(224,239,249,1) 0%,rgba(181,198,208,1) 50%,rgba(216,225,231,1) 51%,rgba(242,246,248,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0eff9', endColorstr='#f2f6f8',GradientType=0 ); /* IE6-9 */

}

#main img {
    width: 100%;
}

